<a href="https://colab.research.google.com/github/Liang130520/Tibame-Machine-Learning/blob/main/class1027_machine_learning_cluster_2_sklearn_lable_%26_center.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
" 分群 "
# 沒有答案的選擇題, 用特徵去做分類 
# 距離非固定算法, 有許多不同情況的算法 

import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [1]:
" K Means " # K 個 中心(每個中心跟相關點的距離最近)
# 迭代法：隨機選 3 個中心 --> 所有點依距離分配給 K 中心 --> (分群固定) 重新選新的 K 中心 [發現中心與距離距離不妥] --> 所有點依距離分配給 K 中心 {不斷重複step2, 3, 直到中心點不變或變動不大}

" K Means ++ " # 一開始選的點盡量分地遠點, 較容易收斂分群結果

' K Means ++ '

In [3]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters = 3)
cluster.fit(df)
# class sklearn.cluster.KMeans(n_clusters=8,
#                              *,
#                              init='k-means++',
#                              n_init=10,
#                              max_iter=300, # iter 即為迭代幾次
#                              tol=0.0001,
#                              verbose=0,
#                              random_state=None,
#                              copy_x=True,
#                              algorithm='lloyd'
#                              )

KMeans(n_clusters=3)

In [7]:
# 把分群完的答案存起來, 亦即為我自己分出答案, 然後這就是我得到的解答
df["labels"] = cluster.labels_
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),labels
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,1
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,1

In [8]:
" K 的中心點 "
# sklearn 最後會取得虛擬中心, 原資料無小數後兩位, 而此結果為小數後多位
cluster.cluster_centers_

array([[5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])